@font-face {
  font-family: "Andika";
  src: url(/fonts/Andika-R.ttf);
}

@font-face {
  font-family: "AndikaNewBasic";
  src: url(/fonts/AndikaNewBasic-R.ttf);
}

@font-face {
  font-family: "AndikaNewBasic";
  font-weight: bold;
  src: url(/fonts/AndikaNewBasic-B.ttf);
}

@font-face {
  font-family: "CharisSIL-Literacy";
  src: url(/fonts/CharisSIL-Literacy-R.ttf);
}

@font-face {
  font-family: "CharisSIL-Literacy";
  font-weight: bold;
  src: url(/fonts/CharisSIL-Literacy-B.ttf);
}

div.compChart {
  font-family: "AndikaNewBasic";
}

div.compChart input {
  font-size: 1em;
}

div.compChart textarea {
  font-size: 1em;
  width: 100%;
  height: 100%;
}

div.alphaTitle {
  margin: 0.8em 0 0.2em;
}

div.alphaSubtitle {
  margin: 0 0 0.4em;
}

div.alphatable {
  width: 100%;
}

div.alpharow {
  flex-direction: row;
  align-items: stretch;
  border-top: 1px #ddd solid;
}

div.alpharow:last-child {
  border-bottom: 1px #ddd solid;
}

div.alphacell {
  padding: 8px;
  box-sizing: border-box;
  border-left: 1px #ddd solid;
}

div.alphacell:last-child {
  border-right: 1px #ddd solid;
}

div.edit-alphacell:hover,
div.edit-alphacell[data-selected="true"] {
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(24, 146, 239, 1);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(24, 146, 239, 1);
  box-shadow: inset 0px 0px 8px 0px rgba(24, 146, 239, 1);
  cursor: pointer;
}

div.edit-alphacell:hover div.letter,
div.edit-alphacell[data-selected="true"] div.letter {
  color: #1892ef;
}

div.alphacell div.letter {
  font-size: 3em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

div.alphacell img {
  width: 80%;
  margin: auto;
  display: block;
}

div.alphacell input[type="text"] {
  text-align: center;
  width: 80%;
  align-self: center;
}

div.alphacell input[type="text"]:focus::placeholder {
  color: #00000000;
}

div.alphacell .exampleWord {
  text-align: center;
  font-size: 1em;
  display: block;
}

div.alphacell .exampleWord span[data-key-letter="true"] {
  font-weight: bold;
}

div.edit-alpha-image[data-image-set="true"] p.drop-zone {
  display: none;
}

div.edit-alpha-image[data-image-set="true"]:hover p.drop-zone {
  display: block;
}

div.edit-alpha-image[data-image-set="true"]:hover img {
  display: none;
}

div.drop-zone-root:focus {
  outline: none;
}

p.drop-zone {
  padding-top: calc(40% - 8px);
  padding-bottom: calc(40% - 8px);
  margin: 0 10%;
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 1;
  border: 2px #999 dashed;
  cursor: pointer;
}

p.drop-zone.drop-zone-active,
p.drop-zone:hover {
  border-color: #1892ef;
  color: #1892ef;
}

div.alphafooter {
  width: 100%;
}