/* AlphabetsList */

ul.compAlphabetsList {
    font-size: 1.3em;
}

ul.compAlphabetsList li {
    margin: 4px 0;
}

/* ChartToImageOptionsMenu */

div.compChartToImageOptionsMenu {
    padding: 8px;
}

div.compChartToImageOptionsMenu div.optMenuHeader {
    font-weight: bold;
    margin-bottom: 8px;
}

div.compChartToImageOptionsMenu table tr td {
    border: none;
}

div.compChartToImageOptionsMenu input[type="text"] {
    text-align: right;
}

div.compChartToImageOptionsMenu input[type="checkbox"] {
    margin-right: 8px;
}

div.compChartToImageOptionsMenu .bgColor {
    margin: 12px 0;
}

div.compChartToImageOptionsMenu .bgColor div[data-disabled="true"] {
    color: #aaa;
}

div.compChartToImageOptionsMenu .buttonRow {
    flex-direction: row;
    justify-content: space-between;
}

/* ErrorMessage */

div.compErrorMessage {
    background-color: #c9302c;
    color: #fff;
    border-radius: 4px;
    padding: 8px;
    position: sticky;
    top: 8px;
    flex-direction: row;
    justify-content: space-between;
}

div.compErrorMessage a {
    color: #fff;
    font-weight: bold;
}

/* NumberPicker */

div.NumberPicker {
    display: inline-block;
}
  
div.NumberPicker input {
    font-size: 16px;
    text-align: end;
}
  
div.NumberPicker button {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 100%;
    padding: 0 0 2px;
    line-height: 1;
    margin: 2px;
}

/* OptionButton */

div.compOptionButton {
    display: block;
    background-color: #1892ef;
    border-radius: 8px;
    margin: 4px;
    position: relative;
}

div.compOptionButton>button{
    background: none;
    margin: 0;
    border-radius: 0;
}

div.compOptionButton>button:active {
    background-color: #ffffff22;
}

div.compOptionButton>button:first-child {
    border-right: 1px solid #ddd;
}

div.compOptionButton div.contextMenu {
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 5px 5px 20px #999;
}

/* PublicHomePage */

div.compPublicHomePage {
    align-items: baseline;
}

div.compPublicHomePage > div {
    flex: 1;
    margin: 24px;
}

div.compPublicHomePage input {
    width: 100%;
}

/* SideMenu */

div.side-menu {
    -webkit-box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 12px;
    background-color: #fff;
    z-index: 100;
    position: fixed;
    right: 0;
}
  
div.letter-side-menu h1 {
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}
  
div.letter-side-menu input[type="text"] {
    font-size: 2em;
    margin-left: 20px;
}
  
div.letter-side-menu input[type="text"]::placeholder {
    font-size: 0.7em;
}

div.letter-side-menu div.NumberPicker input {
    font-size: 1.2em;
    color: black;
}

div.settings-side-menu div.input {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 20px;
}

div.settings-side-menu h1 {
    margin-top: 0;
}

div.settings-side-menu input,
div.settings-side-menu select {
    font-size: 20px;
}