html, body, div#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

div {
  display: flex;
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
  justify-content: space-between;
}

div#page-root {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

a, a:visited {
  color: #1892ef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #1892ef;
  border: none;
  font-size: 16px;
  margin: 4px;
  border-radius: 8px;
  padding: 8px;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: #1892ef99;
  cursor: not-allowed;
}

button:focus {
  outline: none;
  /* border: 2px solid #1274bf; */
}

button:active {
  background-color: #1892efdd;
}

label {
  font-weight: 200;
  margin-right: 8px;
}

/******** 
      TABLES
 *******/

table {
  border-collapse: collapse;
}

td {
  border: 1px #ddd solid;
}

/*********
    FORM ELEMENTS 
********/

input[type=text], 
input[type=password] {
  border: none;
  border-bottom: 1px #ddd solid;
  padding: 1px 4px;
  font-size: 16px;
}

input[type=text]:focus, 
input[type=password]:focus {
  outline: none;
  border-bottom-color: #1892ef;
}

input:disabled {
  color: #aaa;
  background: none;
}

.error {
  color: #c9302c;
}

/**********
    ALPHA TABLE
**********/

table.alphatable {
  width: 100%;
  table-layout: fixed;
}

td.alphacell {
  padding: 8px;
  vertical-align: top;
}

td.alphacell-upper {
  border-bottom: none;
  padding-bottom: 0;
}

td.alphacell-lower {
  border-top: none;
  padding-top: 0;
  vertical-align: bottom;
}

td.alphacell div.letter {
  font-size: 3em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

td.alphacell img {
  width: 80%;
  margin: auto;
  display: block;
}

td.alphacell input[type=text] {
  text-align: center;
  width: 80%;
  font-size: 1em;
}

td.alphacell input[type=text]:focus::placeholder {
  color: #00000000;
}

td.alphacell .exampleWord {
  text-align: center;
  font-size: 1em;
}

p.drop-zone {
  padding-top: calc(40% - 8px);
  padding-bottom:  calc(40% - 8px);
  margin: 0 10%;
  text-align: center;
  color: #999;
  font-size: 12px;
  line-height: 1;
  border: 2px #999 dashed;
  cursor: pointer;
}

p.drop-zone.drop-zone-active,
p.drop-zone:hover {
  border-color: #1892ef;
  color: #1892ef;
}

/**************************
    COMPONENTS
***************************/

div.NumberPicker {
  display: inline-block;
}

div.NumberPicker input {
  font-size: 16px;
  text-align: end;
}

div.NumberPicker button {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 100%;
  padding: 0 0 2px;
  line-height: 1;
  margin: 2px;
}

div.LetterEntry td {
  border: none;
  padding-right: 16px;
}

div.LetterEntry td input {
  text-align: center;
  font-size: 24px;
}
